@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: lato;
    font-weight: 300;
}

.container{
    margin: 10px 0;
    width: 35%;
    border-radius: 5px;
    border: 1px solid  rgba(0,0,0,0.3);
    box-shadow:1px 1px 2px  rgba(0,0,0,0.3)
}
.form{
    padding:20px;
}

h2{
    text-align: center;
    color: darkolivegreen;
   
}

label{
    display: block;
    margin-bottom: 10px;
    font-size: 25px;
    text-shadow: 1px 1px 2px rgb(121, 117, 117);
}

input{
    display: block;
    padding: 10px;
    outline: none;
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
    height: 50px;
}
input:focus{
    outline: none;
    border:gray 1px solid;
}
::-moz-placeholder{
    color:darkslategray;
}


select{
    width: 100%;
    height: 50px;
}
option{
    font-size: 20px;

}
.radioContainer,
.checkBoxContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.radioContainer>input,
.checkBoxContainer>input{
    margin-right: 20px;
    height: 50px;
    width: 20px;
}
.radioContainer>label,
.checkBoxContainer>label{
    cursor: pointer;
    font-size: 20px;
}
button{
    width: 100%;
    height: 8vh;
    background-color: dodgerblue;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin: 5px 0;
}

#btn{
    margin-top: 10px;
}
small{
    font-size: 13px;
    visibility: hidden;
}

.error {
    visibility: visible;
    color: red;
}


.input-error{
    border: red 1px solid;
}

.success{
    color: green;

}
@media (max-width:900px) {
        .container{
            width: 50%;
        }
}
